aiofiles==23.1.0
aiohttp==3.8.5
aiosignal==1.3.1
altgraph==0.17.3
Async-OAuthlib==0.0.9
async-timeout==4.0.2
attrs==23.1.0
auto-py-to-exe==2.36.0
bcrypt==4.1.2
blinker==1.5
bottle==0.12.25
bottle-websocket==0.2.9
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
contourpy==1.1.1
cycler==0.11.0
discord==2.3.1
discord-ext-ipc==2.1.1
discord.py @ git+https://github.com/Rapptz/discord.py@e1aa6cc264911985d21a6a598d72a087c4ba4b9e
Eel==0.16.0
fernet==1.0.1
Flask==2.3.2
fonttools==4.42.1
frozenlist==1.4.0
future==0.18.3
gevent==23.7.0
gevent-websocket==0.10.1
greenlet==2.0.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.14.4
hyperframe==6.0.1
Hyperion-obf==1.0.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
mdurl==0.1.2
multidict==6.0.4
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.2.0
mysqlclient==2.2.1
numpy==1.26.0
oauthlib==3.2.2
packaging==23.1
pefile==2023.2.7
Pillow==10.0.1
prettytable==3.9.0
priority==2.0.0
protobuf==4.21.12
psutil==5.9.5
pyaes==1.6.1
pycparser==2.21
pycryptodome==3.19.0
pyfiglet==0.8.post1
pyglet==2.0.10
Pygments==2.15.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.5
PyJWT==2.8.0
pyparsing==3.1.0
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyqt5-tools==5.15.9.3.3
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pystyle==2.9
python-dateutil==2.8.2
python-dotenv==1.0.0
pywin32-ctypes==0.2.2
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
quart==0.18.4
Quart-Discord==2.1.4
requests==2.31.0
rich==13.4.2
six==1.16.0
urllib3==2.0.4
wcwidth==0.2.6
Werkzeug==2.3.6
whichcraft==0.6.1
windows-curses==2.3.2
wsproto==1.2.0
yarl==1.9.2
Zenora==0.0.3.post1
zope.event==5.0
zope.interface==6.0
